body {
  font-family: "Nunito Sans", sans-serif;
  margin: 0;
  padding: 0;
  background-color: hsl(0, 0%, 98%);
  color: hsl(200, 15%, 8%);
  transition: all 0.2s;
}

.dark-blue {
  color: hsl(200, 15%, 8%);
}
.bg-white {
  background-color: hsl(0, 0%, 100%);
}
a {
  text-decoration: none;
  color: inherit;
}
.box-shadow {
  box-shadow: 1px 1px 10px 1px hsl(0, 0%, 89.12%);
}

.dark {
  body {
    background-color: hsl(207, 26%, 17%);
    color: hsl(0, 0%, 100%);
  }
  .box-shadow {
    box-shadow: 1px 1px 10px 1px hsl(210deg 19.98% 13.94% / 55%);
  }
  .dark-blue {
    color: hsl(0, 0%, 100%);
  }
  .bg-white {
    background-color: hsl(209, 23%, 22%);
  }
}
